<!-- <mat-toolbar>
    
    <span class="example-spacer"></span>
    <span>Simulação do Brasileirão</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon></mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon></mat-icon>
    </button>
</mat-toolbar> -->
<header><img src="https://i.ibb.co/LRK7XJy/Foot-Ball-Science.png" alt="Foot-Ball-Science" /></header>