header{
    background: #5C9650;
    height: 150px;
    justify-content: center;
    display: flex;
    align-items: center;
    overflow: hidden;
    @media (max-width: 768px) {
        height: 100px;
    }
}