


.mat-header-cell, .mat-cell{
    font-size: 12px;
}

.position{
    display: inline-block;
}


.alternate{
    background-color: rgba(221, 219, 219, 0.651);
}

.first{
    font-weight: bolder;
}

.name{
    display: inline-block;
}
.mat-mdc-table{
    min-width: 0%;
    
    height: 200px;
}
.mat-table{
    table-layout: fixed;
    width: auto;
    margin: 0 auto;
}

.no-margin{
    margin: 0;
}

table{
    background-color: white;
    border: 1px solid rgba(165, 165, 165, 0.61);
    border-collapse: collapse;
    box-sizing: border-box;
    & th, td{
        border: 1px solid rgba(165, 165, 165, 0.61);
        box-sizing: border-box;
        color: black;
        width: 1px;
        font-size: 12px;
        height: 10px;
    }

}


.container, .position, .name{
    box-sizing: border-box;
}
td{
    min-height: 40px;
    line-height: 40px;
}

.container{
    display: flex;
    gap: 10px;

}

@media (min-width: 846px) {
    main{
        
        gap: 50px;
        flex-direction: row;    
    }

    .mat-mdc-table{
        min-width: 0%;
        
        height: 300px;
        width: 400px;
    }
}

main{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

