<p>tabela works!</p>
<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

  <ng-container matColumnDef="number">
    <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 240px;"> Classificação </th>
    <td mat-cell style="width: 240px;" *matCellDef="let element"> 
        <div class="container">
            <div class="position" [ngStyle]="{'color': getColor(element.index)}">{{element.index}}</div>
            <div class="name">{{element.team}}</div>
        </div>
    </td>
  </ng-container>


  <ng-container matColumnDef="P">
    <th mat-header-cell style="width: 20px;" *matHeaderCellDef class="alternate"> P </th>
    <td mat-cell style="width: 20px;" *matCellDef="let element" class="alternate first"> {{element.points}} </td>
  </ng-container>

 
  <ng-container matColumnDef="J">
    <th mat-header-cell *matHeaderCellDef style="width: 20px;"> J </th>
    <td mat-cell *matCellDef="let element" style="width: 20px;"> {{element.jogos}} </td>
  </ng-container>

  
  <ng-container matColumnDef="V">
    <th mat-header-cell *matHeaderCellDef style="width: 20px;" class="alternate"> V </th>
    <td mat-cell *matCellDef="let element" style="width: 20px;" class="alternate"> {{element.vitorias}} </td>
  </ng-container>
  
  <ng-container matColumnDef="SG">
    <th mat-header-cell *matHeaderCellDef style="width: 20px;"> SG </th>
    <td mat-cell *matCellDef="let element" style="width: 20px;"> {{element.saldo}} </td>
  </ng-container>

  <ng-container matColumnDef="GP">
    <th mat-header-cell *matHeaderCellDef style="width: 20px;" class="alternate"> GP </th>
    <td mat-cell *matCellDef="let element" style="width: 20px;" class="alternate"> {{element.gols}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

      <!-- <td>Classificação</td>
      <td>P</td>
      <td>J</td>
      <td>V</td>
      <td>SG</td>
      <td>GP</td> -->
    <!-- @for(team of teams; track team.index){
    <tr>
        <td>
        </td>
        <td>{{team.points}}</td>
        <td>{{team.jogos}}</td>
        <td>{{team.vitorias}}</td>
        <td>{{team.saldo}}</td>
        <td>{{team.gols}}</td>
    </tr>
    } --> 
    <!-- <tr>
      <td>16</td>
      <td>14</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
    </tr> -->

<ul>
    <li>
        <!-- @for(team of teams; track team.index){
            {{team.points}} - {{team.team}}
            <img class="teamimage" src="{{team.image}}" alt="">
            <p>-----------------------</p>
        } -->
    </li>
</ul>
<app-palpites></app-palpites>