<main>
  <table mat-table [dataSource]="dataSourceTop10" matSort class="mat-elevation-z8 no-margin">
  
    <ng-container matColumnDef="number">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 250px;"> Classificação </th>
      <td mat-cell style="width: 250px;" *matCellDef="let element" [ngStyle]="{'background-color': getBackColor(element.updated)}">
          <div class="container" >
              <div class="position" [ngStyle]="{'color': getColor(element.index)}">{{element.index}}</div>
              <div class="name">{{element.team}}</div>
          </div>
      </td>
    </ng-container>
  
  
    <ng-container matColumnDef="P">
      <th mat-header-cell style="width: 20px;" *matHeaderCellDef> P </th>
      <td mat-cell style="width: 20px;" *matCellDef="let element" class="pontos"> {{element.points}} </td>
    </ng-container>
  
  
    <ng-container matColumnDef="J">
      <th mat-header-cell *matHeaderCellDef style="width: 20px;"> J </th>
      <td mat-cell *matCellDef="let element" style="width: 20px;"> {{element.jogos}} </td>
    </ng-container>
  
  
    <ng-container matColumnDef="V">
      <th mat-header-cell *matHeaderCellDef style="width: 20px;"> V </th>
      <td mat-cell *matCellDef="let element" style="width: 20px;"> {{element.vitorias}} </td>
    </ng-container>
  
    <ng-container matColumnDef="SG">
      <th mat-header-cell *matHeaderCellDef style="width: 20px;padding-left: 12px;padding-right: 12px;"> SG </th>
      <td mat-cell *matCellDef="let element" style="width: 20px;"> {{element.saldo}} </td>
    </ng-container>
  
    <ng-container matColumnDef="GP">
      <th mat-header-cell *matHeaderCellDef style="width: 20px;"> GP </th>
      <td mat-cell *matCellDef="let element" style="width: 20px;"> {{element.gols}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'update-table': row.updated}"></tr>
  </table>
  
  <table mat-table [dataSource]="dataSourceBottom10" matSort class="mat-elevation-z8">
  
    <ng-container matColumnDef="number">
      <td mat-cell style="width: 250px;" *matCellDef="let element" [ngStyle]="{'background-color': getBackColor(element.updated)}">
          <div class="container">
              <div class="position" [ngStyle]="{'color': getColor(element.index)} ">{{element.index}}</div>
              <div class="name">{{element.team}}</div>
          </div>
      </td>
    </ng-container>
  
  
    <ng-container matColumnDef="P">
      <td mat-cell style="width: 20px;" *matCellDef="let element" class="pontos"> {{element.points}} </td>
    </ng-container>
  
  
    <ng-container matColumnDef="J">
      <td mat-cell *matCellDef="let element" style="width: 20px;"> {{element.jogos}} </td>
    </ng-container>
  
  
    <ng-container matColumnDef="V" >
      <td mat-cell *matCellDef="let element" style="width: 20px;"> {{element.vitorias}} </td>
    </ng-container>
  
    <ng-container matColumnDef="SG">
      <td mat-cell *matCellDef="let element" >{{element.saldo}}</td>
    </ng-container>
  
    <ng-container matColumnDef="GP">
      <td mat-cell *matCellDef="let element" style="width: 20px;"> {{element.gols}} </td>
    </ng-container>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'update-table': row.updated}"></tr>
  </table>
</main>

<section>
  <button mat-icon-button class="arrow" [ngStyle]="{'color': getArrowColor('back', round_value)}" (click)="decreaseButton()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  {{round_value}}
  <button mat-icon-button class="arrow" [ngStyle]="{'color': getArrowColor('forward', round_value)}" (click)="increaseButton()">
    <mat-icon>arrow_forward</mat-icon>
  </button>
</section>

<!--? repassa para o outro componente os valores da rodada atual e os times. -->
<app-palpites [teams]="sortedTeams" [round_value]="round_value"></app-palpites>